$header-background: #2c76b9;
$light-theme: #f4f4f4;
$dark-theme: #777;

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.ttf');
}

* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 60px;
  grid-template-areas: 
    'header-left header-right';
  background-color: $header-background;
  color: $light-theme;
  grid-area: header;
}

.header-left {
  align-self: center;
  grid-area: header-left;

  h2 {
    margin-left: 20px;
    display: inline-block;
  }

  i {
    margin-left: 40px;
    font-size: 25px;
  }
}

.header-right {
  grid-area: header-right;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .user-avatar {
    font-size: 45px;
    margin-right: 40px;
  }

  .input-wrp {
    height: 40px;
    width: 250px;
    background-color: $light-theme;
    border: 1px solid $light-theme;
    border-radius: 5px;
    padding: 5px 10px;
    color: $dark-theme;
  }

  .search-input {
    height: 25px; 
    padding-left: 10px;
    border: none;
    outline: none;
    background-color: $light-theme;
    font-size: 14px;
  }

  .search-input::placeholder {
    color: $dark-theme;
  }
}

.header-right > div {
  display: inline-block;
}
